.error {
  @include flexCC;
  height: 90vh;
  color: $red;

  &--container{
    @include flexCCC;
    border: 1px solid $red;
    border-radius: 20px;
    padding: 2%;
  }

  &--icon{
    font-size: $errorIconSize;
  }

  &--message {
    @include fontSizes;
  }
}