.global {
  
  &--container {
    padding: $basePadding;
  }

  &--radio {
    @include flexCC;
    gap: $thumb * 0.15;
  }

  &--radioText {
    text-transform: capitalize;
    color: $black;
  }

}